In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'seaborn'

**IMPORTING THE DATASET**

In [2]:
path = 'D:/work/pythonPractice/big projects/Blitzkrieg/Original'
df = pd.read_csv(path + '/Case Data.csv')
df.shape

(7044, 21)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         7044 non-null   object
 1   gender             7044 non-null   object
 2   Senior_Citizen     7044 non-null   int64
 3   Partner            7044 non-null   object
 4   Dependents         7044 non-null   object
 5   tenure             7044 non-null   int64
 6   Phone_Service      7044 non-null   object
 7   Multiple_Lines     7044 non-null   object
 8   Internet_Service   7044 non-null   object
 9   Online_Security    7044 non-null   object
 10  Online_Backup      7044 non-null   object
 11  Device_Protection  7044 non-null   object
 12  Tech_Support       7044 non-null   object
 13  Streaming_TV       7044 non-null   object
 14  Streaming_Movies   7044 non-null   object
 15  Contract           7044 non-null   object
 16  Paperless_Billing  7044 non-null   object
 17  Payment_Method     7044 non-null   object
 18  Monthly_Charges    7044 non-null   float64
 19  Total_Charges      7044 non-null   object
 20  Churn              7044 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df.head()

,customerID,gender,Senior_Citizen,Partner,Dependents,tenure,Phone_Service,Multiple_Lines,Internet_Service,Online_Security,...,Device_Protection,Tech_Support,Streaming_TV,Streaming_Movies,Contract,Paperless_Billing,Payment_Method,Monthly_Charges,Total_Charges,Churn
0,57590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,65575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,73668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,57795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,49237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

Here, **Monthly_Charges** and **Total_Charges** both should be float64 types, but are not.This will later be checked for null values and outliers. 
Also, the customerID column will be unique for each row/customer and thus has no relation to churnability. So, the column will be deleted.

In [5]:
# df = df.iloc[:,1:]
del df['customerID']
df.head()

,gender,Senior_Citizen,Partner,Dependents,tenure,Phone_Service,Multiple_Lines,Internet_Service,Online_Security,Online_Backup,Device_Protection,Tech_Support,Streaming_TV,Streaming_Movies,Contract,Paperless_Billing,Payment_Method,Monthly_Charges,Total_Charges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

Insert pie charts to view distribution.

In [6]:
for inp in ['Partner','Dependents','Senior_Citizen', 'Paperless_Billing','Churn']:
    print(df[inp].value_counts(),"\n")

No     3641
Yes    3403
Name: Partner, dtype: int64

No     4933
Yes    2111
Name: Dependents, dtype: int64

0    5902
1    1142
Name: Senior_Citizen, dtype: int64

Yes    4172
No     2872
Name: Paperless_Billing, dtype: int64

No     5175
Yes    1869
Name: Churn, dtype: int64

## Formatting of columns

**Gender column**

My biggest yet the silliest doubt. By giving value=1 for Female customers, will the model not get biased towards female customers? Shouldn't the values be -0.5 and 0.5 so that mean remains 0?

In [7]:
df['gender'].replace("Male", 0,inplace=True)
df['gender'].replace("Female", 1,inplace=True)
print(df['gender'].value_counts())

0    3555
1    3489
Name: gender, dtype: int64

**Senior Citizen column**

Lol, I accidently formatted the values and saved it in the source file once, so I wont need to format the values here again.

**Replacing categorical variable columns (with Yes/No responses)**

Here, ordinal encoding could have been used but I prefer my plain, old Python.

In [8]:
df['Partner'].replace("No", 0,inplace=True)
df['Partner'].replace("Yes", 1,inplace=True)
print(df.Partner.value_counts())
# Like JS, obj.key works in pandas

df['Dependents'].replace("No", 0,inplace=True)
df['Dependents'].replace("Yes", 1,inplace=True)
print(df['Dependents'].value_counts())

df['Phone_Service'].replace("No", 0,inplace=True)
df['Phone_Service'].replace("Yes", 1,inplace=True)
print(df['Phone_Service'].value_counts())

df['Paperless_Billing'].replace("No", 0,inplace=True)
df['Paperless_Billing'].replace("Yes", 1,inplace=True)
print(df.Paperless_Billing.value_counts())

0    3641
1    3403
Name: Partner, dtype: int64
0    4933
1    2111
Name: Dependents, dtype: int64
1    6362
0     682
Name: Phone_Service, dtype: int64
1    4172
0    2872
Name: Paperless_Billing, dtype: int64

*Add inputs based on distribution.*

In [ ]:
# Replacing text values with ints in Multiple_Lines column
df['Multiple_Lines'].replace("No", 1,inplace=True)
df['Multiple_Lines'].replace("Yes", 2,inplace=True)
df['Multiple_Lines'].replace("No phone service", 0,inplace=True)

# rename column to No.of phone lines
df.rename(columns = {'Multiple_Lines':'Phone_Lines_No'}, inplace = True)
# print(df.Phone_Lines_No.value_counts())

# Deleting redundant Phone_service column
df = df.drop(columns =['Phone_Service'])
df['Multiple_Lines'].replace("No", 0,inplace=True)
df['Multiple_Lines'].replace("Yes", 1,inplace=True)
df['Multiple_Lines'].replace("No phone service", 2,inplace=True)

df['Internet_Service'].replace("DSL", 2,inplace=True)
df['Internet_Service'].replace("Fiber optic", 1,inplace=True)
df['Internet_Service'].replace("No", 0,inplace=True)

**FORMATTING INTERNET SERVICE COLUMN**

The following code is not used because it does not work in a loop and thus, is not selected for execution. However, as changes are done directly to the columns (instead of creating a new array like in the 2nd method), this method seems safer.

### Introducing Plans column in place of Phone Lines and Internet Services columns

In [ ]:
# p1_inp = [1 if df['Phone_Lines_No'][x] == 0 and df['Internet_Service'][x] == 1 else 0 for x in range(7044)]
# df.insert(5,'DSL-0',p1_inp)
# p2_inp = [1 if df['Phone_Lines_No'][x] == 1 and df['Internet_Service'][x] == 1 else 0 for x in range(7044)]
# df.insert(6,'DSL-1',p2_inp)
# p3_inp = [1 if df['Phone_Lines_No'][x] == 1 and df['Internet_Service'][x] == 0 else 0 for x in range(7044)]
# df.insert(7,'NoNet-1',p3_inp)
# p4_inp = [1 if df['Phone_Lines_No'][x] == 2 and df['Internet_Service'][x] == 0 else 0 for x in range(7044)]
# df.insert(8,'NoNet-2',p4_inp)
# p5_inp = [1 if df['Phone_Lines_No'][x] == 1 and df['Internet_Service'][x] == 2 else 0 for x in range(7044)]
# df.insert(9,'FO-1',p5_inp)
# p6_inp = [1 if df['Phone_Lines_No'][x] == 2 and df['Internet_Service'][x] == 2 else 0 for x in range(7044)]
# df.insert(10,'FO-2',p6_inp)
# print(p5_inp.count(1) + p6_inp.count(1))
# del df['Internet_Service']
# del df['Phone_Lines_No']

**Introducing the Plans column**

In [ ]:
plan = []
for x in range(7044):
    if df['Phone_Lines_No'][x] == 1 and df['Internet_Service'][x] == 0:
        plan.append('NoInt-1')
    elif df['Phone_Lines_No'][x] == 2 and df['Internet_Service'][x] == 0:
        plan.append('NoInt-2')
    elif df['Phone_Lines_No'][x] == 0 and df['Internet_Service'][x] == 1:
        plan.append('DSL-0')
    elif df['Phone_Lines_No'][x] == 1 and df['Internet_Service'][x] == 1:
        plan.append('DSL-1')
    elif df['Phone_Lines_No'][x] == 2 and df['Internet_Service'][x] == 1:
        plan.append('DSL-2')
    elif df['Phone_Lines_No'][x] == 1 and df['Internet_Service'][x] == 2:
        plan.append('FO-1')
    else:
        plan.append('FO-2')
df.insert(6,'Plan',plan)
df.head()

In [ ]:
del df['Phone_Lines_No']
del df['Internet_Service']

**Formatting columns that have 3 possible values**

Three possible cases exist:
1. Two of the possible values can be clubbed into one value
2. The possible values can be compared/ranked based on their value
3. There is no hierarchy between the three possible values. 

<u><strong>Case 1:</strong>Two of the possible values can be clubbed into one value</u>

In case of the six Internet Features variables column, two values (No, No Internet Service) have been clubbed together. (Just a hypothesis)

In [9]:
df['Online_Security'].replace("No", 0,inplace=True)
df['Online_Security'].replace("Yes", 1,inplace=True)
df['Online_Security'].replace("No internet service", 0,inplace=True)

df['Online_Backup'].replace("No", 0,inplace=True)
df['Online_Backup'].replace("Yes", 1,inplace=True)
df['Online_Backup'].replace("No internet service", 0,inplace=True)

df['Device_Protection'].replace("No", 0,inplace=True)
df['Device_Protection'].replace("Yes", 1,inplace=True)
df['Device_Protection'].replace("No internet service", 0,inplace=True)

df['Tech_Support'].replace("No", 0,inplace=True)
df['Tech_Support'].replace("Yes", 1,inplace=True)
df['Tech_Support'].replace("No internet service", 0,inplace=True)

df['Streaming_TV'].replace("No", 0,inplace=True)
df['Streaming_TV'].replace("Yes", 1,inplace=True)
df['Streaming_TV'].replace("No internet service", 0,inplace=True)

df['Streaming_Movies'].replace("No", 0,inplace=True)
df['Streaming_Movies'].replace("Yes", 1,inplace=True)
df['Streaming_Movies'].replace("No internet service", 0,inplace=True)

1    4172
0    2872
Name: Paperless_Billing, dtype: int64

<u><strong>Case 2:</strong> The possible values can be compared/ranked based on their value</u>

In [10]:
df['Contract'].replace("Month-to-month", 0,inplace=True)
df['Contract'].replace("One year", 1,inplace=True)
df['Contract'].replace("Two year", 2,inplace=True)

### OneHotEncoding for columns that do not have any order

In [ ]:
df['Payment_Method'].replace("Electronic check", 0,inplace=True)
df['Payment_Method'].replace("Mailed check", 1,inplace=True)
df['Payment_Method'].replace("Bank transfer (automatic)", 2,inplace=True)
df['Payment_Method'].replace("Credit card (automatic)", 3,inplace=True)

### Number of features subscribed for

In [ ]:
# features = [(df['Online_Backup'][x]+df['Online_Security'][x]+df['Device_Protection'][x]+df['Streaming_Movies'][x]+df['Streaming_TV'][x]+df['Tech_Support'][x]) for x in range(7044)]
# df.insert(12,'No_of_Features',features)
# df.head()

**PAYMENT METHOD**

In [8]:
print(df['Payment_Method'].value_counts())

echeck_inp = [1 if x == 3 else 0 for x in df['Payment_Method']]
df.insert(21,'E_check',echeck_inp)
# print(df.E_check.value_counts())

bank_trans_inp = [1 if x == 1 else 0 for x in df['Payment_Method']]
df.insert(22,'Bank_Trans',bank_trans_inp)
# print(df.Bank_Trans.value_counts())

ccard_inp = [1 if x == 2 else 0 for x in df['Payment_Method']]
df.insert(23,'Credit_Card',ccard_inp)
# print(df.Credit_Card.value_counts())

mcheck_inp = [1 if x == 0 else 0 for x in df['Payment_Method']]
df.insert(24,'M_check',mcheck_inp)
# print(df.M_check.value_counts())

del df['Payment_Method']
df.shape

**Churn Column**

The main column. The distribution means the classification would be imbalanced and thus, very difficult.

In [20]:
df['Churn'].replace("No", 0,inplace=True)
df['Churn'].replace("Yes", 1,inplace=True)
print(df.Churn.value_counts())

0    5175
1    1869
Name: Churn, dtype: int64

### Normalization

In [10]:
# min_max_scaler = MinMaxScaler()
# df = min_max_scaler.fit_transform(df)
# df = pd.DataFrame(df, columns = df.columns)